body {
  overflow: auto;
  height: 100vh;
}

.ant-menu-submenu {
  border-bottom: 1px dashed;
  border-radius: unset !important;
  .ant-menu-title-content {
    font-weight: 600 !important;
    text-transform: uppercase;
  }

  @media (max-width: 1050px) {
    svg {
      color: black;
    }
  }
}
.ant-menu-item {
  border-bottom: 1px dashed;
  border-radius: unset !important;
  &:last-child {
    border-bottom: unset;
  }
}
